@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
        
body{
    background-color:#f3f6fd ;
    font-size: 11.5px;
    font-weight: bold;
    color: rgb(189, 196, 203);
}

.card{
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul >li{
    padding: 4px;
}

ul > li:hover{
    color:#957bda;
    cursor: pointer;
}

hr{
    border-width: 3px;
}

.social > i{
    padding: 1%;
    font-size: 15px;
}

.social > i:hover{
    color:#957bda;
    cursor:pointer;
}

.policy > div{
    padding: 4px;
}

.heading{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.divider{
    border-top: 2px solid rgba(189, 196, 203, 0.5);;
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }

  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  

  .carousel-item {
    height: 32rem;
  }

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
.flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
.footer-bs{
    position: relative;
    width: 100%;
    min-height: 320px;
    bottom: 0px;
    left:0;
}

.social-networks-icon{
    text-decoration: none;
}